.black {
    background-color: #000;
    min-width: 40px;
    height: 150px;
    color: #fff;
    text-align: center;
    transition: 0.1s ease-in-out;
    border-radius: 0 0 10px 10px;
    pointer-events: all;
}
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#full-piano {
    width: 100%;
    overflow: scroll;
    pointer-events: none;

}
header {
    width: 100%;
    background-color: rgb(206, 206, 206);
}
.white {
    background-color: #fff;
    border: 1px solid #000;
    border-top: 0;
    min-width: 50px;
    height: 20px;
    padding-top: 180px;
    text-align: center;
    transition: 0.1s ease-in-out;
    border-radius: 0 0 10px 10px;
    pointer-events: all;
}
#piano {
    display: flex;
}
#black-piano {
    display: flex;
    transform: translateY(-201px);
    pointer-events: none;
}
.hw-seperator {
    min-width: 12px;
    pointer-events: none;
}
.fw-seperator {
    min-width: 32px;
    pointer-events: none;
}
.dw-seperator {
    min-width: 64px;
    pointer-events: none;
}

.white:active {
    transform: translateY(3px);
    border-radius: 10px;
}
.black:active {
    transform: translateY(3px);
    border-radius: 10px;
}